body {
    margin: 0;
    font-family: roboto, sans-serif;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    padding: 0 96px;
}

.header-logo {
    font-weight: bold;
    padding: 24px;
    font-size: 24px;
}

.header-links {
    display: flex;
    padding: 24px;
    gap: 16px;
}

.banner {
    display: flex;
    padding: 96px 96px;
    background-color: #1f2937;
    color: #F9FAF8;
}

.banner-text-div {
    padding: 24px;
    flex: 1;
}

.banner-img {
    padding: 24px;
    flex: 1;
    margin: 0;
    background-color: #58616d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.banner-sub-text {
    font-size: 16px;
    color: #F9FAF8;
}

.sign-up-bt {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 4px 18px;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
}
